.navbarListItem {
    margin: 1rem;
    cursor: pointer;
}

.navbarListItem:hover {
    color: #ff9500;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #ff9500;
}

.active {
    color: #ff9500;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #ff9500;
}

.navbarListItemMobile{
    margin: 1rem;
    cursor: pointer;
    padding: 0.1rem 2rem;
}

.activeMobile {
    color: #ff9500;
}

.navbarListDesktop {
    display: flex;
}

.contactMeBtn {
    display: flex;
}

.burgerMenu {
    display: none;
}

.navbar {
    background-color: rgba(30, 30, 30, 0.9);
}

@media screen and (max-width: 840px) {
    .navbar {
        background-color: rgba(30, 30, 30, 0.0);
    }
    .burgerMenu {
        display: flex;
    }

    .navbarListDesktop {
        display: none;
    }

    .contactMeBtn {
        display: none;
    }
}